.about {
  width:100%;
  left: 0px;
  top: 0px;
  height: 40vw;
  display: inline-block;
}

.about .the-DOF-hover {
  background-color: #ffffff73;
  border-radius: 2vw 0 0 2vw;
  height: 15vh;
  right: 0vw;
  top: 10vh;
  width: 50vw;
  color: #050518;
  font-family: "Salsa", Helvetica;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 15px;
}

.about .about-the-DOF {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 3.5vw; 
  font-weight: 400;
  left: 18vw; 
  width: 50vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  text-align: justify;
  text-align: right;
  text-justify: distribute-all-lines;
}

.about .element {
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 10vh;
  width: 30vw; 
}
