.about {
  width:100%;
  left: 0px;
  top: 0px;
}

.about .the-DOF-hover-wrapper {
  background-color: #ffffff73;
  border-radius: 2vw 0 0 2vw;
  height: 25vh;
  right: 0px; 
  position: absolute;
  top: 30vh; 
  width: 45vw; 
}

.about .the-DOF-hover {
  color: #050518;
  font-family: "Salsa", Helvetica;
  font-size: 1.5vw; 
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5vh;
  left: 2.5vw; 
  width: 40vw;
  text-align: justify;
  text-justify: inter-word;
  align-items:center ;
}

.about .div {
 /* height: 60vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 50vw;  */
}

.about .about-the-DOF {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 3.5vw; 
  font-weight: 400;
  left: 18vw; 
  width: 50vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  text-align: justify;
  text-align: right;
  text-justify: distribute-all-lines;
}

.about .element {
  left: 5vw;
  object-fit: cover;
  position: absolute;
  top: 10vh;
  width: 30vw; 
}
