.modeling {
  position: relative;
  width: 100%; /* Using viewport width */
  height: 60vw;
  background-color: chartreuse;
}

.modeling .MODELING {
  background-color: #ffffff4c;
  border-radius: 1vw 0px 0px 1vw; /* Using viewport units */
  height: 8vh; /* Using viewport height */
  right: 0vw;
  position: absolute;
  top: 0;
  width: 30vw; /* Using viewport width */
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 2vw; /* Responsive font size */
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-justify: inter-word;
  align-content:center;
}

.modeling .img {
  left: 1vw; /* Using viewport width */
  position: absolute;
  top: 0;
  width: 50vw; /* Using viewport width */
  height: auto;
}

.modeling .when-a-positive {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 2vw; /* Responsive font size */
  font-weight: 400;
  right: 1vw; /* Using viewport width */
  letter-spacing: 0;
  line-height: 3vw; /* Using viewport width */
  position: absolute;
  text-align: right;
  top: 10vh; /* Using viewport height */
  width: 45vw; /* Using viewport width */
  text-align: justify;
  text-justify: inter-word;
}

.modeling .the-model-equation {
  color: #ffffff;
  font-family: "Salsa", Helvetica;
  font-size: 2.5vw; /* Responsive font size */
  font-weight: 400;
  left: 30vw; /* Using viewport width */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 80vh; /* Using viewport height */
  width: 60vw; /* Using viewport width */
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 1300px) {
  .modeling .img {
    top: 8vw;
  }

  .modeling .when-a-positive {
    font-size: 2.2vw;
    line-height: 3.2vw;
  }

  .modeling .the-model-equation {
    font-size: 2.7vw;
    left: 25vw;
    top: 50vw;
  }
}

@media (max-width: 830px) {

  .modeling .img {
    width: 65vw;
  }

  .modeling .when-a-positive {
    font-size: 2.4vw;
    line-height: 3.4vw;
    width: 49vw;
    right: 0vw;
  }

  .modeling .the-model-equation {
    font-size: 2.9vw;
    left: 19vw;
    top: 79vh;
    width: 64vw;
  }
}

@media (max-width: 360px) {

  .modeling .MODELING {
    font-size: 4vw;
    left: 10vw;
    top: 3vh;
  }

  .modeling .img {
    width: 70vw;
  }

  .modeling .when-a-positive {
    font-size: 3vw;
    line-height: 4vw;
    width: 52vw;
    left: 58vw;
  }

  .modeling .the-model-equation {
    font-size: 3.5vw;
    left: 20vw;
    top: 82vh;
    width: 68vw;
  }
}
